<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth; scroll-padding-top: 5rem;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Md. Raisul Islam Rony{% endblock %}</title>
  <meta name="description" content="Portfolio of Md. Raisul Islam Rony, Rust and blockchain developer.">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <link rel="stylesheet" href="/static/css/output.css">
</head>
<body class="bg-gradient-to-b font-tektur from-gray-700 via-gray-500 to-gray-700 pt-4 px-4 text-gray-900">
  {% block content %}{% endblock %}
</body>
</html>